<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="/resources/components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/resources/components/polymer/polymer.html">
    <link rel="import" href="/resources/components/core-component-page/core-component-page.html">
</head>
<body unresolved>
    <core-component-page></core-component-page>
</body>
</html>
